.newQwitt textarea{font-size:19px;line-height:1.4!important}.divider{border-top:1px solid;border-bottom:1px solid;border-color:#e0e0e0}.qwitt-content{white-space:pre-line!important}.qwitt-icons{margin-left:-5px}
